/* Base CSS Stuff */
:root {
    --base-color: #ffffff;
    --skewed-color: #d1d1d1;
    --contrast-color: #000000;
    --light-contrast-color: #1a1a1a;
    --trans-base: rgba(255, 255, 255, 0.9);
    --focus-color: #c94eff;
    --fun-color: #ffcdfb;
    --font-size-s-sm: 0.6rem;
    --font-size-sm: 0.8rem;
    --font-size-med: 1.0rem;
    --font-size-lg: 1.4rem;
    --font-family: 'gill sans', sans-serif;
    --gap: 1.2rem;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*background-color: rgb(255, 218, 218);*/
    /*border-style: solid;*/
    /*border-width: 1px;*/

}

html{
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size-med);
    color: var(--contrast-color);
    background-color: var(--light-contrast-color);
    letter-spacing: 1px;
    height: 100%;
}

.content {
    background-color: var(--base-color);
}

ul {
    list-style: none;
}

/* Header */

a {
    color: inherit;
    text-decoration: none;
}

button {
    cursor: pointer;
    background-color: transparent;
}

label {
    display: none;
}

p {
    margin: 1rem 0;
}

.top-bar {
    position: relative;
    height: 90px;
    border-bottom: solid;
    border-bottom-color: var(--skewed-color);
}

.logo {
    width: 100%;
    display: flex;
    justify-content: center;
}

.logo-pic {
    vertical-align: middle;
    width: 400px;
    height: 80px;
}

.logo-link {
    margin-top: 5px;
}

.search-icon-button {
    position: absolute;
    left: 16px;
    top: 50%;
    font-size: var(--font-size-med);
    border: none;
    background-color: transparent;
    transform: translateY(-50%);
    aspect-ratio: 1;
}

.search-bar {
    display: grid;
    align-items: center;
    grid-template-columns: 90% 1fr;
    position: absolute;
    left: 12px;
    top: 50%;
    width: 20%;
    height: 40%;
    transform: translateY(-50%) scale(0);
    border: solid var(--contrast-color);
    border-radius: 10px;
    opacity: 0;
}

.search-bar:focus-within {
    box-shadow: 0 0 5px var(--focus-color);
}

.form-input {
    margin-left: 20px;
    font-family: var(--font-family);
    border: none;
    outline: none;
    background-color: transparent;
}

.go-button {
    font-size: var(--font-size-lg);
    justify-self: start;
    border: none;
    margin-top: 4px;
    background-color: transparent;
}

.close-icon{
    display: none;
}

.search-icon-button.activated .search-icon{
    display: none;
}

.search-icon-button.activated .close-icon{
    display: block;
}

.search-bar.activated{
    opacity: 1;
    transform: translateY(-50%) scale(1);
}

.menu-list {
    display: flex;
    justify-content: center;
    line-height: 2rem;
    gap: var(--gap);
    border-bottom: solid;
    border-bottom-color: var(--skewed-color);
}

/* Featured */

.featured-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.first-featured-container {
    position: relative;
    padding: 1rem 1rem;
}

.first-featured-img {
    float: right;
    width: 100%;
    height: auto;
    max-width: 120vh;
    max-height: 80vh;
    vertical-align: middle;
    aspect-ratio: auto;
}

.first-featured-captions {
    padding: 1rem 1rem;
    font-size: var(--font-size-lg);
    position: absolute;
    width: 40%;
    height: 100%;
    top: 0;
    left:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--gap);
    text-align: center;
    background-color: var(--trans-base);
}

.small-posts {
    width: 80%;
}

.new-posts-container {
    width: 100%;
    display: flex;
    gap: var(--gap);
}

.small-featured-container {
    width: 25%;
    padding: 1rem 1rem;
    border-radius: 10px;
}

.small-featured-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap);
}

.small-featured-article-img {
    width: 100%;
    height: auto;
}

.small-featured-review-img {
    width: 80%;
    height: auto;
}

.blank-featured-img {
    width: 100%;
    background-color: var(--skewed-color);
    height: 70%;
}



/* Posts */

.page-title {
    margin: 1rem auto;
    width: 80%;
    text-align: center;
}

.search-title {
    width: 60%;
    margin: 1rem auto;
    text-align: left;
}

.multi-posts {
    margin: 0 auto;
    width: 80%;
    height: 100%;
}

.section-header-offset {
    margin-top: 30px;
    margin-bottom: 30px;
}

.section-footer-offset {
    height: 30px;
}

.multi-post-container {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

.post-container {
    width: 100%;
}

.post-content {
    width: 600px;
    margin: auto;
    padding: 1rem 1rem;
    transition: background-color 0.2s;
    border-radius: 10px;
}

.article-pic {
    width: 100%;
    height: 400px;
    border: solid var(--contrast-color);
}

.article-text {
    width: 100%;
}

.article-data {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    margin-top: 0.5rem;
}

.article-captions {
    margin-top: 0.5rem;
    font-size: var(--font-size-lg)
}

.post-tag,
.post-type {
    border: solid var(--contrast-color);
    padding: 2px 2px;
    border-radius: 3px;
}

.review-pic {
    width: 250px;
    height: 250px;
    border: solid var(--contrast-color);
}

.review-link {
    display: flex;
    gap: 0.5rem;
}

.review-text {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.review-data {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.review-captions {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: var(--font-size-lg)
}

.post-content:hover,
.real-container:hover {
    background-color: var(--fun-color);
}

.divider-line {
    background-color: var(--light-contrast-color);
    width: 80%;
    height: 1px;
    margin: 1rem auto;
}

.no-results {
    text-align: center;
    margin-bottom: 400px;
}

/* About Me */

.about-me-container {
    width: 70%;
    overflow:auto;
    margin: 30px auto;
    font-size: var(--font-size-lg);
}

.author-pic-holder {
    float: left;
    margin-right: 1rem;
}

.author-pic {
    width: 400px;
    height: 400px;
}

/* Full Post */

.full-post-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-header {
    width: 48%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap)
}

.post-header-title {
    font-size: var(--font-size-lg);
    width: 100%;
}

.post-header-pic {
    width: 100%;
}

.post-header-info {
    width: 100%;
    display: flex;
    gap: var(--gap);
}

.post-info-text {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.author-pic-post {
    width: 64px;
    height: 64px;
    border-radius: 32px;
}

.full-post-text {
    width: 48%;
    font-size: var(--font-size-lg);
    display: flex;
    flex-direction: column;
    gap: var(--gap)
}

.in-text-image {
    width: 60%;
    margin: auto;
}

/* Footer */

.footer-container {
    background-color: var(--light-contrast-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap);
}

.icon-list {
    margin-top: 10px;
    margin-bottom: 10px;
    color: var(--base-color);
    font-size: 2rem;
    display: flex;
    gap: var(--gap);
}

.letterboxd-icon {
    width: 32px;
    height: 32px;
}

/* Screen Size Changes */

@media (min-width: 1200px) {
    .multi-posts {
        width: 100%;
    }

    .post-container {
        width: 600px;
    }

    .multi-post-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .review-post-container {
        height: 300px;
    }
}

@media (max-width: 1000px) {
    .search-bar {
        grid-template-columns: 85% 1fr;
    }
}

@media (max-width: 700px) {
    .logo-pic {
        width: 200px;
        height: 40px;
    }

    .top-bar {
        position: relative;
        height: 50px;
        border-bottom: solid;
        border-bottom-color: var(--skewed-color);
    }

    body{
        font-family: var(--font-family);
        font-size: var(--font-size-sm);
        color: var(--contrast-color);
        letter-spacing: 1px;
    }

    .sign-up {
        margin-right: 10px;
        width: 50px;
        height: 20px;
        line-height: 15px;
        font-size: var(--font-size-s-sm);
        border-width: 1px;
    }

    .logo.hidden {
        opacity: 0;
        transform: scale(0);
    }

    .sign-up.hidden {
        opacity: 0;
        transform: scale(0);
    }

    .search-bar.activated {
        width: 85%;
        height: 80%;
        left: 10%;
        top: 50%;
        grid-template-columns: 90% 1fr;
    }

    .post-content {
        width: 300px;
        font-size: var(--font-size-s-sm)
    }

    .review-pic {
        width: 130px;
        height: 130px;
    }

    .article-pic {
        height: 200px;
    }

    .review-data {
        gap: 0.4rem;
    }

    .article-captions {
        font-size: var(--font-size-s-sm)
    }

    .review-captions {
        font-size: var(--font-size-s-sm)
    }

    .author-pic {
        width: 200px;
        height: 200px;
    }

    .about-me-container {
        width: 70%;
        font-size: var(--font-size-med);
    }

    .search-results {
        font-size: var(--font-size-sm)
    }

    .first-featured-captions {
        font-size: var(--font-size-sm);
    }

    .small-featured-container {
        font-size: var(--font-size-s-sm);
    }

    .new-posts-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: var(--gap);
    }

    .small-featured-container {
        width: 80%;
        padding: 1rem 1rem;
        border-radius: 10px;
    }

    .post-header {
        width: 80%;
    }

    .full-post-text {
        width: 80%;
        font-size: var(--font-size-med);
    }
}